##Main Clock (SYS_CLK)
NET "CLK_I_PIN" LOC = "C9" | IOSTANDARD = LVTTL;
NET "RST_I_PIN" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN;
#NET "btn_north" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN;
### TIME CONSTRAINTS
NET "CLK_I_PIN" PERIOD = 20ns; 
#NET "ENABLE0"  LOC = "E13"  ;
#NET "ENABLE1"  LOC = "F14"  ;
#NET "ENABLE2"  LOC = "G14"  ;
#NET "ENABLE3"  LOC = "d14"  ;

#Data
NET "PIN_DATA<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "PIN_DATA<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;

##
NET "PIN_SEL_BYTE<0>"  LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "PIN_SEL_BYTE<1>"  LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "PIN_SEL_BYTE<2>"  LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "PIN_SEL_BYTE<3>"  LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

#NET "switch<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
#NET "switch<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
#NET "switch<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
#NET "switch<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;