##Main Clock (SYS_CLK)
NET "CLK_I_PIN" LOC = "T9";
NET "RST_I_PIN" LOC = "M13"; #BOT0
### TIME CONSTRAINTS
NET "CLK_I_PIN" PERIOD = 20ns; 

##External Clock 
NET "EXTERNAL_CLK" LOC = "N7";		#PIN5 CONECTOR A1
NET "EXTERNAL_CLK_FB" LOC = "L5"; 	#PIN5 CONECTOR A1

#NET "ENABLE0_FB"  LOC = "E13"  ;
NET "ENABLE0"  LOC = "E13"  ;
NET "ENABLE1"  LOC = "F14"  ;
NET "ENABLE2"  LOC = "G14"  ;
NET "ENABLE3"  LOC = "d14"  ;

#Data
NET "PIN_DATA<0>" LOC = "E14";
NET "PIN_DATA<1>" LOC = "G13";
NET "PIN_DATA<2>" LOC = "N15";
NET "PIN_DATA<3>" LOC = "P15";
NET "PIN_DATA<4>" LOC = "R16";
NET "PIN_DATA<5>" LOC = "F13";
NET "PIN_DATA<6>" LOC = "N16";
NET "PIN_DATA<7>" LOC = "P16";
##
NET "PIN_SEL_BYTE<0>"  LOC = "F12"  ;
NET "PIN_SEL_BYTE<1>"  LOC = "G12"  ;
NET "PIN_SEL_BYTE<2>"  LOC = "H14"  ;
NET "PIN_SEL_BYTE<3>"  LOC = "H13"  ;

