
#pin2ucf - Thu Jan 28 16:22:00 2021
#The following constraints were newly added
NET "RESET" LOC = B18;
NET "PIN_CONTADOR<0>" LOC = L18;
NET "PIN_CONTADOR<1>" LOC = f18;
NET "PIN_CONTADOR<2>" LOC = d17;
NET "PIN_CONTADOR<3>" LOC = d16;
NET "PIN_CONTADOR<4>" LOC = g14;
NET "PIN_CONTADOR<5>" LOC = j17;
NET "PIN_CONTADOR<6>" LOC = h14;
NET "CLOCK" LOC = B8;
NET "PIN_CONTADOR<7>" LOC = J1;
NET "DisplayActive<0>" LOC = C2;
NET "DisplayActive<1>" LOC = D1;
NET "PIN_ONDA_SALIDA<0>" LOC = j14;
NET "DisplayActive<2>" LOC = D2;
NET "PIN_ONDA_SALIDA<1>" LOC = j15;
NET "DisplayActive<3>" LOC = C1;
NET "PIN_ONDA_SALIDA<2>" LOC = k15;
NET "PIN_ONDA_SALIDA<3>" LOC = k14;
NET "PIN_ONDA_SALIDA<4>" LOC = e17;
NET "PIN_ONDA_SALIDA<5>" LOC = p15;
NET "PIN_ONDA_SALIDA<6>" LOC = f4;
NET "PIN_ONDA_SALIDA<7>" LOC = r4;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2021/01/28
NET "CLOCK" TNM_NET = CLOCK;
TIMESPEC TS_CLOCK = PERIOD "CLOCK" 20 ns HIGH 50%;
