##Main Clock (SYS_CLK)
NET "PIN_CLOCK_100" TNM_NET = "sys_clk_pin";

##Data

#  Virtex 5 ML507 Evaluation Platform
NET "PIN_DATA[0]" IOSTANDARD = LVCMOS18;
NET "PIN_DATA[0]" PULLDOWN;
NET "PIN_DATA[0]" SLEW = SLOW;
NET "PIN_DATA[0]" DRIVE = 2;
NET "PIN_DATA[0]" LOC = AE24;
NET "PIN_DATA[1]" IOSTANDARD = LVCMOS18;
NET "PIN_DATA[1]" PULLDOWN;
NET "PIN_DATA[1]" SLEW = SLOW;
NET "PIN_DATA[1]" DRIVE = 2;
NET "PIN_DATA[1]" LOC = AD24;
NET "PIN_DATA[2]" IOSTANDARD = LVCMOS18;
NET "PIN_DATA[2]" PULLDOWN;
NET "PIN_DATA[2]" SLEW = SLOW;
NET "PIN_DATA[2]" DRIVE = 2;
NET "PIN_DATA[2]" LOC = AD25;
NET "PIN_DATA[3]" IOSTANDARD = LVCMOS25;
NET "PIN_DATA[3]" PULLDOWN;
NET "PIN_DATA[3]" SLEW = SLOW;
NET "PIN_DATA[3]" DRIVE = 2;
NET "PIN_DATA[3]" LOC = G16;
NET "PIN_DATA[4]" IOSTANDARD = LVCMOS18;
NET "PIN_DATA[4]" PULLDOWN;
NET "PIN_DATA[4]" SLEW = SLOW;
NET "PIN_DATA[4]" DRIVE = 2;
NET "PIN_DATA[4]" LOC = AD26;
NET "PIN_DATA[5]" IOSTANDARD = LVCMOS25;
NET "PIN_DATA[5]" PULLDOWN;
NET "PIN_DATA[5]" SLEW = SLOW;
NET "PIN_DATA[5]" DRIVE = 2;
NET "PIN_DATA[5]" LOC = G15;
NET "PIN_DATA[6]" IOSTANDARD = LVCMOS25;
NET "PIN_DATA[6]" PULLDOWN;
NET "PIN_DATA[6]" SLEW = SLOW;
NET "PIN_DATA[6]" DRIVE = 2;
NET "PIN_DATA[6]" LOC = L18;
NET "PIN_DATA[7]" IOSTANDARD = LVCMOS25;
NET "PIN_DATA[7]" PULLDOWN;
NET "PIN_DATA[7]" SLEW = SLOW;
NET "PIN_DATA[7]" DRIVE = 2;
NET "PIN_DATA[7]" LOC = H18;


NET "PIN_RX" IOSTANDARD = LVCMOS33;
NET "PIN_RX" LOC = AG15;
NET "PIN_TX" IOSTANDARD = LVCMOS33;
NET "PIN_TX" LOC = AG20;

NET "PIN_CLOCK_100" TNM_NET = "PIN_CLOCK_100";
TIMESPEC TS_sys_clk_pin = PERIOD "PIN_CLOCK_100" 100000 KHz;
NET "PIN_CLOCK_100" IOSTANDARD = LVCMOS33;
NET "PIN_CLOCK_100" LOC = AH15;
NET "PIN_RESET" TIG;
NET "PIN_RESET" IOSTANDARD = LVCMOS33;
NET "PIN_RESET" PULLUP;
NET "PIN_RESET" LOC = E9;

NET "PIN_LED_TEST[0]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[0]" PULLDOWN;
NET "PIN_LED_TEST[0]" SLEW = SLOW;
NET "PIN_LED_TEST[0]" DRIVE = 2;
NET "PIN_LED_TEST[0]" LOC = E8;
NET "PIN_LED_TEST[1]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[1]" PULLDOWN;
NET "PIN_LED_TEST[1]" SLEW = SLOW;
NET "PIN_LED_TEST[1]" DRIVE = 2;
NET "PIN_LED_TEST[1]" LOC = AF23;
NET "PIN_LED_TEST[2]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[2]" PULLDOWN;
NET "PIN_LED_TEST[2]" SLEW = SLOW;
NET "PIN_LED_TEST[2]" DRIVE = 2;
NET "PIN_LED_TEST[2]" LOC = AG12;
NET "PIN_LED_TEST[3]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[3]" PULLDOWN;
NET "PIN_LED_TEST[3]" SLEW = SLOW;
NET "PIN_LED_TEST[3]" DRIVE = 2;
NET "PIN_LED_TEST[3]" LOC = AG23;
NET "PIN_LED_TEST[4]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[4]" PULLDOWN;
NET "PIN_LED_TEST[4]" SLEW = SLOW;
NET "PIN_LED_TEST[4]" DRIVE = 2;
NET "PIN_LED_TEST[4]" LOC = AF13;

# DUMMY -- MAINTAIN COMPATIBILITY
# LCD_E
NET "ENABLE0" LOC = AC9;
NET "ENABLE0" IOSTANDARD = LVCMOS33;
NET "ENABLE0" TIG;
NET "ENABLE0" PULLDOWN;
# LCD_RS
NET "ENABLE1" LOC = J17;
NET "ENABLE1" IOSTANDARD = LVCMOS25;
NET "ENABLE1" TIG;
NET "ENABLE1" PULLDOWN;
# LCD_RW
NET "ENABLE2" LOC = AC10;
NET "ENABLE2" IOSTANDARD = LVCMOS33;
NET "ENABLE2" TIG;
NET "ENABLE2" PULLDOWN;
# LCD_DB4
NET "ENABLE3" LOC = T9;
NET "ENABLE3" IOSTANDARD = LVCMOS33;
NET "ENABLE3" TIG;
NET "ENABLE3" PULLDOWN;
# LCD_DB7
NET "PIN_LED_TEST[5]" LOC = T11;
NET "PIN_LED_TEST[5]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[5]" TIG;
NET "PIN_LED_TEST[5]" PULLDOWN;
# LCD_DB6
NET "PIN_LED_TEST[6]" LOC = G6;
NET "PIN_LED_TEST[6]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[6]" TIG;
NET "PIN_LED_TEST[6]" PULLDOWN;
# LCD_DB5
NET "PIN_LED_TEST[7]" LOC = G7;
NET "PIN_LED_TEST[7]" IOSTANDARD = LVCMOS33;
NET "PIN_LED_TEST[7]" TIG;
NET "PIN_LED_TEST[7]" PULLDOWN;

